<mat-card class="main-card">
    <mat-card-title>Todo List Application</mat-card-title>

    <mat-card-subtitle>
        Existing items:
    </mat-card-subtitle>
    <mat-card-content>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 todo-table">
            <ng-container matColumnDef="todo">
                <th mat-header-cell *matHeaderCellDef> Todo Text </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field *ngIf="element.isEditing; else notEditing" appearance="fill">
                        <input matInput name="todo" [(ngModel)]="element.name">
                    </mat-form-field>
                    <ng-template #notEditing>
                        {{element.name}}
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="todo_desc">
                <th mat-header-cell *matHeaderCellDef> Todo Description </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field *ngIf="element.isEditing; else notEditing" appearance="fill">
                        <input matInput name="todo_desc" [(ngModel)]="element.description">
                    </mat-form-field>
                    <ng-template #notEditing>
                        {{element.description}}
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="completed">
                <th mat-header-cell *matHeaderCellDef> Is completed </th>
                <td mat-cell *matCellDef="let element"> {{element.isComplete}} </td>
            </ng-container>

            <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">

                    <div class="operations-div" *ngIf="!element.preparingDelete && !element.isEditing">
                        <mat-icon (click)="element.preparingDelete = true" class="todo-icon-operation">
                            delete
                        </mat-icon>
                        <mat-icon (click)="element.isEditing = true" class="todo-icon-operation">
                            edit
                        </mat-icon>
                    </div>
                    <div *ngIf="element.preparingDelete" class="operations-div">
                        Are you sure?
                        <button mat-icon-button (click)="deleteTodoItem(element)">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-icon-button (click)="element.preparingDelete = false">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="element.isEditing" class="operations-div">
                        Are you done?
                        <button mat-icon-button (click)="updateTodoItem(element)">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-icon-button (click)="element.isEditing = false">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>


    <mat-card-subtitle>
        Add new item:
    </mat-card-subtitle>

    <mat-card-actions>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Todo item title:</mat-label>
                <input matInput placeholder="Ex.: Do homework" name="todo" [(ngModel)]="newTodoItem.name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Todo item description:</mat-label>
                <input matInput placeholder="Ex.: need it done in 2 days" name="todo_desc"
                    [(ngModel)]="newTodoItem.description">
            </mat-form-field>

        </form>
        <mat-checkbox [(ngModel)]="newTodoItem.isComplete">Is completed
        </mat-checkbox>
        <br />
        <button mat-raised-button color="accent" (click)="addTodoItem()">add</button>
    </mat-card-actions>
</mat-card>